.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 6rem;
  /* width: 80%; */
  width: 80%;
  margin: auto;
  padding: 3rem 0rem;
  margin-top: 6rem;
  position: relative;
  z-index: 5;
  display: relative;
  /* //grid-templat
  dise-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

@media screen and (max-width: 768px) {
  .product {
    justify-items: center; /* aligns items horizontally in the center */
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* width: 100%; */
    /* margin-right: auto; */
    margin-left: 15%;
  }
  .loading {
    margin-right: 12em;
  }
}
